# These are the initial codes
# * = First summary stat delimiter
# ** = Second summary stat delimiter
**Begin Reconciliation
*Begin Still Face
Chuckle
Comforting
Coo
Crying
Delight
Escape
Frown
Half Smile
Large Grimace
Larger Smile
Mild Fussing
Neutral
Neutral Expression
Neutral Vocal
Object Orientation
Parent Orientation
Quiet Chuckle
Screaming
Self Comforting
Small Frown
Smile
Start
Stop
Wide Smile

# NOTE: must be newline separation above
# These are the initial tags
Baby
